<!DOCTYPE html>
<!--日本語に修正 -->
<html lang="ja"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TRAVEL SPACE</title>
     
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  
<!-- <body要素> -->
  <body>
      <!-- Image and text -->
    <div class="jumbotron jumbotron-extend">
        <div class="container-fluid jumbotron-container ">
          <h1 class="site-name">TRAVEL SPACE</h1>
          <% if user_signed_in? %>
          <p><%= link_to '投稿画面へ', new_user_registration_path , class: "btn btn-black" %></p>
          <%else%> 
          <p><%= link_to '新規登録', new_user_registration_path , class: "btn btn-black" %></p>
          <p><%= link_to 'ログイン', new_user_session_path, class: "btn btn-black" %><p>
          <% end %>
        </div>
        <%# <div class="sns-button">
          <ul class="list-inline">
              <li><a href="#"><img src="img/icon_linkedin.png" alt="Linkedin"></a></li>
              <li><a href="#"><img src="img/icon_vimeo.png" alt="vimeo"></a></li>
              <li><a href="#"><img src="img/icon_tel.png" alt="tel"></a></li>
              <li><a href="#"><img src="img/icon_insta.png" alt="instagram"></a></li>
              <li><a href="#"><img src="img/icon_tumblr.png" alt="tumblr"></a></li>
          </ul>
        </div> %>
    </div>
      <!-- Image and text -->
  
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
  </body>
<!-- <body要素> -->
</html>