<div class='plan-page-header'>
  <div class="plan-top-content">
    <div class="header-sub-title">TRAVELING<br>〜コスパのよい旅をしましょう〜</div>
  </div>
</div>

<div class="plan-sub-title">新着一覧</div>
<%= link_to "新規投稿", new_plan_path, class: "plan-post" %>

<%#投稿記事の一覧を表示させる%>
<div class="card__wrapper">
<%= render partial: "plans/plan", collection: @plan %> 
</div>

